body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: 'Lato', sans-serif;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}

header{
	width: 100%;
	height: 60px;
	background-color: #50bca8;
	position: fixed;
	-webkit-box-shadow: 0 1px 2px #666666;
    -moz-box-shadow: 0 1px 2px #666666;
    box-shadow: 0 1px 2px #666666;
    z-index: 100;
}

#menu{
	width: 940px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
}

#add {
	width: 200px;
	height: 60px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

#count {
	width: 200px;
	height: 60px;
	float: left;
	display: inline-block;
}

#count_text{
	width: auto;
	height: 60px;
	float: left;
	margin-right: 5px;	
	margin-left: 5px;
}

#count_image{
	width: 30px;
	height: 30px;
	margin-top: 13px;
	overflow: hidden;
}

#count_image img{
	margin-left: -5px;
}

#count_text h1{
	margin-top: 20px;
	font-size: 16px;
	color: white;
}

#text{
	width: 200px;
	height: 40px;
	margin-top: 10px;
	font-size: 15px;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	text-align: left;
}

#submit{
	width:35px;
	height:35px;
	border: 0;
	background-color: #50bca8;
	margin-left: -37px;
	margin-top: 13px;
	position: absolute;
	border-radius: 3px;
	cursor: pointer;
	color: white;
	font-size: 20px;
	z-index: 100;
	-webkit-appearance: none;
}

#submit:hover{
	background-color: #3BA894;
}

#logo{
	width: 200px;
	height: 60px;
	display: inline-block;
	color: white;
	vertical-align: top;
	margin-left: 166px;
	margin-right: 166px;
}


#logo_image{
	width: 40px;
	height: 40px;
	margin-top: 15px;
	display: inline-block;
	float: right;
	margin-right: 8px;
}

#logo_image img{
	width: 100%;
}

#logo_text{
	font-size: 30px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	float: right;
	margin-right: 10px;
	margin-top: -18px;
}

#profile{
	width: 200px;
	height: 60px;
	display: inline-block;
	vertical-align: top;
}

#profile_data{
	width: auto;
	height: 60px;
	float: right;
	min-width: 120px;
}

#profile_data:hover{
	background-color: #3BA894;
	height: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#profile_image{
	width: 25px;
	height: 25px;
	margin-top: 20px;
	display: inline-block;
	margin-right: 5px;
	margin-left: 7px;
	float: left;
}

#profile_image img{
	width: 100%;
}

#profile_username{
	font-size: 20px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	float: left;
	margin-right: 7px;
}

#home{
	display: none;
}


#profile_data:hover #home{
	width: auto;
	height: 30px;
	background-color: #3BA894;
	margin-top: 60px;
	display: block;
}

#home img{
	float: left;
	margin-left: 12px;
	width: 16px;
}

#home p{
	display: inline-block;
	float: left;
	margin-top: -2px;
	margin-left: 5px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#home p:hover{
	color: #BDFFF3;
}

#logout{
	display: none;
}


#profile_data:hover #logout{
	width: auto;
	height: 30px;
	background-color: #3BA894;
	margin-top: 7px;
	display: block;
}

#logout img{
	float: left;
	margin-left: 12px;
	width: 17px;
}

#logout p{
	display: inline-block;
	float: left;
	margin-top: -2px;
	margin-left: 5px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

#logout p:hover{
	color: #BDFFF3;
}

#profile_info{
	width: 700px;
	height: 150px;
	background-color: white;
	margin: 0 auto;
	border-radius: 5px;
	margin-top: 6px;
	border-bottom: 2px solid #dddddd;
	overflow: hidden;
	text-align: center;
}

#profile_info_image{
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 70px;
	margin: 20px auto;
}

#profile_info_text{
	width: auto;
	height: auto;
	margin-top: -10px;
}

#profile_info_text h1{
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 25px;
}


#result{
	width: 940px;
	height: auto;
	background-color: #f1f1f1;
	margin: 0 auto;	
	padding-top:70px;
	padding-bottom: 20px;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-right: 2px solid rgba(37, 39, 44, .1);
    border-left: 2px solid rgba(37, 39, 44, .1);
}

#wrapper{
	width: 914px;
	height: auto;
	margin: 0 auto;
}

.posts{
	width: 287px;
	height: 423px;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	margin-left: 7.5px;
	margin-right: 7.5px;
	background-color: white;
	text-overflow: ellipsis;
	overflow: hidden;
	border-bottom: 2px solid #dddddd;
	position: relative;
}

.delete{
	display: none;
}

.posts:hover .delete{
	width: 20px;
	height: 20px;
	background-color: #cccccc;
	position: absolute;
	right: 0;
	text-align: center;
	display: block;
	cursor: pointer;
}

.delete img{
	width: 70%;
	margin-top: 3px;
}

.share{
	display: none;
}

.posts:hover .share{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 1;
	right: 0;
	text-align: center;
	display: block;
	cursor: pointer;
}

.share img{
	width: 70%;
	margin-top: 3px;
}

#share_box{
	width: 400px;
	height: 200px;
	position: fixed;
	z-index:100;
	background-color: #50bca8;
	margin-left: 270px;
	margin-top: 0px;
	border-radius: 10px;
	display: none;
}

#close_share_box{
	width: 20px;
	height: 20px;
	position: fixed;
	z-index:100;
	background-color: white;
	margin-left: -10px;
	margin-top: -8px;
	border-radius: 20px;
	border: 1px solid #7f7f7f;
	text-align: center;
	cursor: pointer;
	display: none;
}

#close_share_box img{
	width: 50%;
	margin-top: 5px;
}

#share_box_first_text{
	width: 380px;
	height: 30px;
	border-radius: 7px;
	border: 0;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 17px;
	padding-left: 5px;
	text-align: center;
}

#share_box_first_text h1{
	font-family: 'Lato', sans-serif;
	font-size: 23px;
	color: white;
}

#share_box_title{
	width: 380px;
	height: 35px;
	background-color: white;
	border-radius: 7px;
	border: 0;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 17px;
	padding-left: 7px;
	font-family: 'Lato', sans-serif;
}

#share_box_text{
	width: 380px;
	height: 35px;
	background-color: white;
	border-radius: 7px;
	border: 0;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 17px;
	padding-left: 7px;
	font-family: 'Lato', sans-serif;
}

#share_box_send{
	width: 380px;
	height: 35px;
	background-color: #3BA894;
	border-radius: 7px;
	border: 0;
	-webkit-appearance: none;
	margin-left: 10px;
	margin-top: 10px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	color: white;
	cursor:pointer;
}

#share_box_send:hover{
	background-color: #3BA898
}


.text{
	width: 260px;
	height: auto;
	margin: 0 auto;
}

.text h1{
	font-size: 20px;
	color: black;
	font-weight: 400;
}

.text h1:hover{
	color: #50bca8;
}

.text p{
	font-size: 15px;
	color: black;
	font-weight: 300;
}

.images{
	background-position:center center;
	background-repeat: no-repeat;
	background-size: cover;	
	width: 300px;
	height: 200px;
}

.images:hover{
	opacity: 0.8;
}

.posts_footer{
	width: 100%;
	height: 23px;
	border-top: 1px dotted #dddddd;
	position: absolute;
	bottom: 0;
	background-color: white;
}

.posts_footer_img{
	width: 15px;
	margin-left: 13.5px;
	display: inline-block;
	vertical-align: middle;
}

.posts_footer_site{
	width: auto;
	display: inline-block;
	height: 17px;
	margin-top: 3px;
}

.posts_footer_site p{
	margin-top: 0;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-left: 5px;
}

.posts_footer_shares{
	width: auto;
	display: inline-block;
	height: 17px;
	float: right;
	margin-top: 0px;
}

.posts_footer_shares p{
	margin-top: 0;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #50bca8;
	display: inline-block;
}

.posts_footer_shares img{
	width: 10px;
	display: inline-block;
}

.posts_footer_user{
	width: auto;
	display: inline-block;
	height: 17px;
	float: right;
	margin-top: 2.5px;
	margin-right: 5px;
}

.posts_footer_user p{
	margin-top: 0;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-left: 5px;
	color: #50bca8;
}


.posts_footer_created{
	width: auto;
	display: inline-block;
	height: 17px;
	float: right;
	margin-top: 3px;
	margin-right:23px;
}

.posts_footer_created p{
	margin-top: 0;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-left: 5px;
	margin-top: 1px;
	color: #aaaaaa;
}

.posts_first{
	width: 200px;
	height: auto;
	margin: 0 auto;
	text-align: center;
	margin-top: 130px;
}

.posts_first img{
	width: 40%;
}

.posts_first h1{
	font-size: 20px;
	font-weight: 400;
}

#more{
	width: 940px;
	height: 40px;
	text-align: center;
}

#more img{
	width: 20px;
}

#footer{
	width: 940px;
	height: 50px;
	background-color: #f1f1f1;
	margin: -16px auto;	
	margin-bottom: 50px;
	text-align: center;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-right: 2px solid rgba(37, 39, 44, .1);
    border-left: 2px solid rgba(37, 39, 44, .1);
    border-bottom: 2px solid rgba(37, 39, 44, .1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#footer p{
	padding-top: 15px;
	font-family: 'Lato', sans-serif;
	color: #aaaaaa;
	font-weight: 300;
	font-size: 13px;
}